body {
    margin: 10px; 
    border: solid black 5px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Nav Bar */
.nav {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.nav h1{
    background-color: #639ef5;
    padding: 5px;
    padding-left: 20px;
}
.nav a {
    color: #fff;
    text-decoration: none;
    padding-right: 15px;
}
.nav a:hover{
    color: #639ef5;
    text-decoration: underline;
}
.nav ul {
    display: flex;
}
.nav li {
    padding: 15px;
    list-style: none;
    flex-direction: row;
}



/* Image Header */
#imgHeader{
    background-image: url(./Images/BackgroundDallas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding-top: 70px;
    padding-bottom: 30px;
    display: flex; 
    justify-content: flex-end;
}
#imgHeader h2{
    color: white;
    font-size: 30px;
    padding: 30px;
    background-color: #639ef5;
}

/* About Me */
#aboutMe{
    margin: 10px;
    display: flex;
}
#aboutMeL{
    width: 25%;
    border-right: #639ef5 solid 6px;
}
#aboutMeR{
    background-color: rgb(212, 255, 0);
    flex-grow: 1;
    padding: 10px;
}
/* Work */
#work{
    background-color: bisque;
    margin: 10px;
}

/* Contact Me */
#contactMe{
    background-color: blue;
    margin: 10px;
}