body {
    margin: 10px;
    border: solid black 5px;
    display: flex;
    flex-direction: column;
    height: auto;
}

/* Nav Bar */
.nav {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.nav h1{
    background-color: #639ef5;
    padding: 5px;
    padding-left: 20px;
}
.nav a {
    color: #fff;
    text-decoration: none;
    padding-right: 15px;
}
.nav a:hover{
    color: #639ef5;
    text-decoration: underline;
}
.nav ul {
    display: flex;
}
.nav li {
    padding: 15px;
    list-style: none;
    flex-direction: row;
}


/* Image Header */
#imgHeader{
    background-image: url(./Images/BackgroundDallas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding-top: 70px;
    padding-bottom: 30px;
    display: flex; 
    justify-content: flex-end;
}
#imgHeader h2{
    color: white;
    font-size: 30px;
    padding: 20px;
    background-color: #639ef5;
}

/* about me */
#abtMe{
    width: auto;
    position: relative;
    display: flex;
    margin: 30px;
}
#abtMeL{
    width: 30%;
    display: flex;
    justify-content: end;
    padding: 20px;
    border-right: #333 solid 3px;
}
#abtMeR{
    padding: 15px;
    width: 70%;
    overflow: hidden;
}

/* work */
#work{
    width: auto;
    position: relative;
    display: flex;
    margin: 30px;
}
#workL{
    width: 30%;
    display: flex;
    justify-content: end;
    padding: 20px;
    border-right: #333 solid 3px;
}
#workR{
    padding: 15px;
    width: 70%;
    overflow: hidden;
}

/* contact */
#contact{
    width: auto;
    position: relative;
    display: flex;
    margin: 30px;
}
#contactL{
    width: 30%;
    display: flex;
    justify-content: end;
    padding: 20px;
    border-right: #333 solid 3px;
}
#contactR{
    padding: 15px;
    width: 70%;
    overflow: hidden;
}
#contactR li{
    list-style: none;
    display: inline;
    padding: 10px;
}
#contacrR li a{
    
}